<div class="row" id="<%= "show-#{cocktail.id}" %>">
  <div class=" col-md-2 verl-align"></div>
  <div class=" col-md-1 verl-align"> <%=cocktail.name%></div>
  <div class=" col-md-2 verl-align"> <%=cocktail.description%></div>
  <div class=" col-md-1 verl-align"> <%=cocktail.value%></div>
  <div class=" col-md-1 verl-align"> <%=cocktail.price%></div>

  <div class="col-md-2">
    <div class="btn btn-info col-sm-3 "  type="button" >
      <%= link_to  'edit', edit_admin_cocktail_path(cocktail) %>
    </div >

    <div class="btn btn-info col-sm-3"  type="button" >
      <%= link_to 'remove', admin_cocktail_path(cocktail), method: :delete %>
    </div >


    <%if cocktail.visible == "show" %>

        <%= link_to admin_ajax_cocktail_path(cocktail.id , cocktail: {visible: "hide"}), method: :put, remote: true , class: "btn bnt-default" do %>
        <span > <%=cocktail.visible%> </span>
        <%end%>

     <% else %>

      <%= link_to admin_ajax_cocktail_path(cocktail.id, cocktail: {visible: "show"}), method: :put, remote: true , class: "btn bnt-default" do %>
                <span > <%=cocktail.visible%> </span>
        <%end%>

     <%end%>
  </div>

</div>