<div class="col-md-4">
  <p>
    <% if false %>
      <h2> Cocktails list is emtpy</h2>
  <%else%>
      <div class='col-sm-10'>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th> Id </th>
              <th> Value </th>
              <th> Price </th>
            </tr>
          </thead>
          <tbody>
            <td><%= f.id %> </td>
            <td><%= f.value %> </td>
            <td><%= f.price %> </td>
          </tbody>
        </table>
      </div>

      <% if true %>
         <div class="field form-group">
         <div class='col-sm-10' >
                <%= image_tag(f.image_url, size: '380', class: 'img_thumbnail') if f.image? %>
          </div>
      <%else %>
            <h2> NO IMAGE </h2>
      <%end%>
        <p>
       <% f.products.each do |product| %>
            <div class="btn btn-info col-sm-3" role="button" >
                <%= link_to product.name, welcome_path(f) %>
            </div >
        <%end%>
        </p>

      </div>
      </table>
  <%end %>

  </p>
</div>