<div id="<%= product.id %>" data-id="<%= product.id %>">


  <%= render partial: 'create', locals: {product: product} %>

  <%if mode == :show %>
    <%= render partial: 'row', locals: {product: product} %>
  <% else %>
     <%= render partial: 'edit_row', locals: {product: product} %>
  <%end%>

<hr>
  </div>