<div class="row" id="<%= "show-#{product.id}" %>">
    <div class=" col-md-4 verl-align"> <%=product.name%></div>
    <div class=" col-md-2 verl-align"> <%=product.min_value%></div>
    <div class=" col-md-2 verl-align"> <%=product.cost_price%></div>
    <div class=" col-md-2 verl-align"> <%=product.product_type%></div>
    <div class="col-xs-2">

     <%= link_to edit_admin_ajax_product_path(product), remote: true , class: "btn bnt-default" do %>
     <span class="glyphicon glyphicon-pencil" aria-hiden="true"> </span>
     <%end%>

     <%= link_to admin_ajax_product_path(product), method: :delete, remote: true , class: "btn bnt-default" do %>
     <span class="glyphicon glyphicon-remove"  aria-hidden="true"></span>

      <%end%>
    </div>

</div>