<div class="media-body panel-default">
  <p> <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :ingredients %>
    <%= f.label :name %>
  </p>
    <hr>
<%= f.fields_for :ingredients do | ingredient_form| %>
<p>
  <%=  ingredient_form.label :value %>
      <%=  ingredient_form.number_field (:value) %>
      <%=  ingredient_form.label :product %>
      <%=  ingredient_form.collection_select(:product_id, Product.all, :id, :name, :prompt=> true) %>
</p>
<%end%>

  </div>