<ui>
  <li><%= "ID: #{@product.id}"%> </li>
  <li><%= "Name: #{@product.name}"%> </li>
  <li><%= "Min value: #{@product.min_value}"%> </li>
  <li><%= "Cost price: #{@product.cost_price}"%> </li>
  <li><%= "Type: #{@product.product_type}"%> </li>
</ui>