<!DOCTYPE html>
<html>
<head>
  <title>Bar or not bar</title>
  <%= stylesheet_link_tag    'admin_application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin_application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
<th><%= link_to 'sign out',  destroy_admin_session method: :delete %></th>
<!--%= yield % -->

</body>
</html>